<%layout('./layouts/boilerplate')%>
<body>
    <section class="mainbuyer py-5" >
        <div class="container py-5">
         
             <span class="usercircle"></span>
    
        </div>
       </section>
</body>