<%layout('./layouts/boilerplate')%>
<body>
    <section class="main py-5" >
        <div class="container py-5">
         <div class="row py-5">
           <div class="col-lg-6 py-5">
             <p class="m-0 thchild1 pt-2 whtcolor">Real Estate On Chain</p>
             <h1 style="font-size: 2rem;color: white;">Landchain</h1>
             
             <img src="https://res.cloudinary.com/dzbw89xnj/image/upload/v1715837680/home_drrxvz.png" alt="" class="homeimage">
             <div class="line my-4 whtcolor"></div>
             <p class="thchild2 whtcolor" style="font-weight: 500;">the NFT-based Land Record - Blockchain system</p>
             <button class="mbtn1 mt-4 me-2">Read More</button>
             <button class="mbtn2 mt-4">Cards</button>
           </div>
         </div>
         <button class="mbtn2 w-50 mt-8" style="background-color: #f6851b; color:beige;" id="connect-wallet-btn">Connect Wallet</button>
        </div>
       </section>
       <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js"></script>
       <script>
        document.getElementById('connect-wallet-btn').addEventListener('click', async () => {
            try {
                if (window.ethereum) {
                    await window.ethereum.request({ method: 'eth_requestAccounts' });
                    const provider = new ethers.providers.Web3Provider(window.ethereum);
                    const signer = provider.getSigner();
                    const walletAddress = await signer.getAddress();
                    const response = await fetch('/connect-wallet', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ walletAddress })
                    });
                    const data = await response.json();
                    console.log(data.message);
                    alert("Wallet Connected")
                } else {
                    console.error('MetaMask is not installed');
                }
            } catch (error) {
                console.error('Error connecting wallet:', error);
            }
        });
    </script>
</body>